@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* serach area style */
#search-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#search-btn:hover {
    color: white;
}

#search-field {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* error message style */
#error-message{
    display: none;
}
#not-found{
    display: none;
}


.card {
    border: none;
}

#show-all-btn {
    display: none;
}

/* spinner style */
#spinner-1, #spinner-2{
    display: none;
}

